<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志分析器</title>

    <!-- import Element UI StyleFile -->
    <link rel="stylesheet" th:href="@{/element-ui/index.css}">

    <!-- import Vue before Element -->
    <script th:src="@{/vue/vue.js}"></script>
    <!-- import JavaScript -->
    <script th:src="@{/element-ui/index.js}"></script>
    <!-- import socket -->
    <script th:src="@{/socket/socket.io.min.js}"></script>
    <!--  import axios  -->
    <script th:src="@{/axios/axios.min.js}"></script>
</head>
<body th:data-context-path="${servletContext.contextPath}">
<div id="app">
    <div class="infinite-list-wrapper" style="overflow:auto">
        <el-container>
            <el-header>日志监控平台</el-header>
            <el-main>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="日志实时滚动" name="first">
                        <el-button type="primary" @click="socketClose" plain>暂停</el-button>
                        <el-button type="primary" @click="loadSocket" plain>继续</el-button>
                        <div class="scroll-container">
                            <ul>
                                <li style="list-style: none;" v-for="message in logMessage">
                                                                  <pre v-html="message">
                                                                                                    </pre>
                                </li>
                            </ul>
                        </div>
                    </el-tab-pane>

                    <el-tab-pane label="日志信息查询" name="second">
                        <div style="margin-top: 20px">
                            <el-radio v-model="logSelectRadio" label="1" border size="medium">日期</el-radio>
                            <el-radio v-model="logSelectRadio" label="2" border size="medium">日期时间范围</el-radio>
                            <el-radio v-model="logSelectRadio" label="3" border size="medium">日志等级+时间范围</el-radio>
                        </div>
                        <el-form :inline="true" :model="formInline" class="demo-form-inline">
                            <el-form-item label="日期" v-if="logSelectRadio == 1">
                                    <el-date-picker
                                            v-model="formInline.date"
                                            align="right"
                                            type="date"
                                            placeholder="选择日期"
                                            :picker-options="pickerOptions"
                                            format="yyyy 年 MM 月 dd 日"
                                            value-format="yyyy-MM-dd">
                                    </el-date-picker>
                            </el-form-item>

                            <el-form-item label="日期时间范围" v-if="logSelectRadio == 2">
                                <el-date-picker
                                        v-model="formInline.dateRange"
                                        type="datetimerange"
                                        :picker-options="pickerOptionsRange"
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        align="right"
                                        value-format="yyyy-MM-dd HH:mm:ss">
                                </el-date-picker>
                            </el-form-item>

                            <el-form-item label="日志等级" v-if="logSelectRadio == 3">
                                <el-select v-model="formInline.levelValue" filterable placeholder="请选择">
                                    <el-option
                                            v-for="item in logLevelOptions"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                                <el-date-picker
                                        v-model="formInline.levelDateRange"
                                        type="datetimerange"
                                        :picker-options="pickerOptionsRange"
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        align="right"
                                        value-format="yyyy-MM-dd HH:mm:ss">
                                </el-date-picker>

                                <el-tooltip placement="top">
                                    <div slot="content">
                                        TRACE（追踪）：最低级别，一般用于记录一些调试信息，表示追踪代码执行过程；</br>
                                        DEBUG（调试）：用于记录详细的调试信息，一般用于排查问题，可在开发阶段输出；</br>
                                        INFO（信息）：用于记录程序运行时的重要信息，例如启动信息、请求方法和处理时间等，通常会输出到控制台和日志文件中；</br>
                                        WARN（警告）：用于记录可能会导致程序出现错误或异常的情况，例如方法参数不匹配、缺失资源等，通常会输出到控制台和日志文件中；</br>
                                        ERROR（错误）：用于记录错误信息，例如空指针、数据库异常等，通常会输出到控制台和日志文件中；</br>
                                        FATAL（致命）：最高级别，用于记录严重的错误信息，例如应用程序无法启动、系统崩溃等，通常会输出到控制台和日志文件中，并且可能会触发警报机制；</br>
                                        OFF（关闭）：关闭日志记录。
                                    </div>
                                    <el-button>日志级别提示</el-button>
                                </el-tooltip>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="onSubmit">查询</el-button>
                            </el-form-item>
                        </el-form>
                        <div class="scroll-container">
                            <ul>
                                <li style="list-style: none;">
                                                                  <pre v-html="logSelectMessage">
                                                                                                    </pre>
                                </li>
                            </ul>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-main>
            <el-footer>Footer</el-footer>
        </el-container>
    </div>
</div>
</body>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                activeName: 'first',
                logMessage: [],
                socket: null,

                formInline: {
                    date: '',
                    dateRange: '',
                    levelDateRange: '',
                    levelValue: ''
                },
                logSelectRadio: '1',
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                pickerOptionsRange: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                logSelectMessage: '',
                logLevelOptions: [{
                    value: 'TRACE',
                    label: 'TRACE'
                }, {
                    value: 'DEBUG',
                    label: 'DEBUG'
                }, {
                    value: 'INFO',
                    label: 'INFO'
                }, {
                    value: 'WARN',
                    label: 'WARN'
                }, {
                    value: 'ERROR',
                    label: 'ERROR'
                }, {
                    value: 'FATAL',
                    label: 'FATAL'
                },{
                    value: 'OFF',
                    label: 'OFF'
                }]
            }
        },
        methods: {
            onSubmit() {
                let this_ = this;

                if (this.logSelectRadio === '1') {
                    const httpProtocol = location.protocol;
                    const contextPath = document.body.getAttribute('data-context-path');
                    const httpPath = `${contextPath}/v1/log_file/search_date`;
                    const httpUrl = `${httpProtocol}//${location.hostname}:8080${httpPath}`;
                    axios.get(httpUrl + '?date=' + this.formInline.date) // 发起GET请求
                        .then(function (response) { // 处理响应数据
                            this_.logSelectMessage = response.data;
                        })
                        .catch(function (error) { // 处理错误情况
                            console.error(error);
                        });
                }

                if (this.logSelectRadio === '2') {
                    const httpProtocol = location.protocol;
                    const contextPath = document.body.getAttribute('data-context-path');
                    const httpPath = `${contextPath}/v1/log_file/search_date_time_range`;
                    const httpUrl = `${httpProtocol}//${location.hostname}:8080${httpPath}`;
                    axios.get(httpUrl + '?dateTimeStart=' + this_.formInline.dateRange[0] + "&dateTimeEnd=" + this_.formInline.dateRange[1]) // 发起GET请求
                        .then(function (response) { // 处理响应数据
                            this_.logSelectMessage = response.data;
                        })
                        .catch(function (error) { // 处理错误情况
                            console.error(error);
                        });
                }

                if (this.logSelectRadio === '3') {
                    const httpProtocol = location.protocol;
                    const contextPath = document.body.getAttribute('data-context-path');
                    const httpPath = `${contextPath}/v1/log_file/search_level_date_time_range`;
                    const httpUrl = `${httpProtocol}//${location.hostname}:8080${httpPath}`;
                    axios.get(httpUrl + '?dateTimeStart=' + this_.formInline.levelDateRange[0] + "&dateTimeEnd=" + this_.formInline.levelDateRange[1] + "&level=" + this_.formInline.levelValue) // 发起GET请求
                        .then(function (response) { // 处理响应数据
                            this_.logSelectMessage = response.data;
                        })
                        .catch(function (error) { // 处理错误情况
                            console.error(error);
                        });
                }
                },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            socketClose () {
                let this_ = this;
                this_.socket.close();
            },
            loadSocket() {
                let this_ = this;
                const wsProtocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
                const contextPath = document.body.getAttribute('data-context-path');  // 使用 document.body.getAttribute 获取 Web 应用的上下文路径
                const wsPath = `${contextPath}/logFileHandler`;
                const wsUrl = `${wsProtocol}//${location.hostname}:8080${wsPath}`;  // 拼接 WebSocket 请求的路由路径
                this_.socket = new WebSocket(wsUrl);

                this_.socket.onopen = function (event) {
                    console.log("WebSocket connection established.");
                };

                this_.socket.onmessage = function (event) {
                    let data = event.data;
                    this_.logMessage.push(data);

                    // 自动滚动到底部
                    this_.$nextTick(() => {
                        const container = document.querySelector('.scroll-container')
                        container.scrollTop = container.scrollHeight
                    });
                };

                // sendBtn.onclick = function(event) {
                //     const message = messageInput.value;
                //     socket.send(message);
                //     messageInput.value = "";
                //     log("Sent message: " + message);
                // };
            }
        },
        mounted() {
            this.loadSocket();
        }
    })
</script>

<style>

    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: center;
        line-height: 200px;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
    }

    body > .el-container {
        margin-bottom: 40px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }


    .scroll-container {
        overflow-y: scroll; /* 显示滚动条 */
        height: 500px; /* 指定容器高度 */
    }

    /* 自定义滚动条样式 */
    .scroll-container::-webkit-scrollbar {
        width: 10px;
    }

    .scroll-container::-webkit-scrollbar-track {
        background-color: #f9f9f9;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }

    .scroll-container::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

</style>
</html>